################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/collectionbuilder/Web.config
/Wendy's collection.txt
/More Bicycles (2).txt
