.modal-body	.input-group
{
	width: 100%;
}

#add-items td.title
{
	width: 60%;
}

.panel-heading #delete-collection
{
	float: right;
}

#item-list td.title
{
	width: 60%;
}

#item-list tr.added
{
  background-color: yellow;
}
